.header {
  background-color: var(--bg-color-);
  width: 100%;
  margin-top: 0;
  height: 80px;
  display: flex;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    .logo {
      width: 150px;

      img {
        width: 100%;
      }
    }
    .btns {
      display: flex;
      flex-direction: row;
      align-items: center;
      span {
        h3 {
          margin-top: 0;
          width: auto;
          margin-left: 10px;
          color: var(--primary-color-);
        }
      }
    }
  }
}
