.header {
  background-color: var(--bg-color-);
  width: 100%;
  margin-top: 0;
  height: 80px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    .logo {
      width: 150px;

      img {
        width: 100%;
      }
    }
    .btns {
      display: flex;
      flex-direction: row;
      align-items: center;
      .btn {
        background-color: rgb(162, 149, 201);
        margin-left: 10px;
        padding: 5px 10px;
        align-items: center;
        border-radius: 3px;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
        h3 {
          margin: 0;
          width: auto;
          color: var(--primary-color-);
        }
      }
      .avt {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        img {
          width: 100%;
          margin: auto;
        }
      }
    }
  }
}
