.header {
  background-color: var(--bg-color-);
  width: 100%;
  margin-top: 0;
  height: 80px;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1000;
  box-shadow: 0 1px 3px rgb(77 71 81 / 20%);

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    
  }
}
@media only screen and (max-width: 600px) {
  .header {
    height: 60px;
    .container {
      .logo {
        width: 100px;

        img {
        }
      }
      .btns {
        .btn {

          &:hover {
            opacity: 0.8;
          }
          h3 {
            font-size: 12px;
          }
        }
        .btnLogin {
          h3 {
          }
        }
        .btnLogout {
          h3 {
          }
        }
        .avt {
          img {
          }
        }
      }
    }
  }
}

// @media screen (max-width: 960px) {
//   .header {
//     .container {
//       .logo {
//         img {
//         }
//       }
//       .btns {
//         .btn {
//           &:hover {
//             opacity: 0.8;
//           }
//           h3 {
//           }
//         }
//         .btnLogin {
//           h3 {
//           }
//         }
//         .btnLogout {
//           h3 {
//           }
//         }
//         .avt {
//           img {
//           }
//         }
//       }
//     }
//   }
// }

// @media screen (max-width: 768px) {
//   .header {
//     .container {
//       .logo {
//         img {
//         }
//       }
//       .btns {
//         .btn {
//           &:hover {
//             opacity: 0.8;
//           }
//           h3 {
//           }
//         }
//         .btnLogin {
//           h3 {
//           }
//         }
//         .btnLogout {
//           h3 {
//           }
//         }
//         .avt {
//           img {
//           }
//         }
//       }
//     }
//   }
// }
